version: '3.8'

services:
  web:
    build: .
    container_name: legalsense_app
    ports:
      - "8501:8501"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - .:/app
    networks:
      - app_network

  ollama:
    image: ollama/ollama:latest
    container_name: legalsense_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app_network
    # Uncomment the below section if you have a NVIDIA GPU and nvidia-container-toolkit installed
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]

volumes:
  ollama_data:


networks:
  app_network:
    driver: bridge
